MONGODB_PASSWORD=
MONGODB_USER=
MONGODB_HOST=
MONGODB_PORT=
OPENAI_API_KEY=""
OLLAMA_URL=http://ollama:11434
OLLAMA_MODEL=llama3.2
AUTH_SECRET_KEY=
AUTH_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REDIS_HOST=
REDIS_PORT=""
BASE_URL=""

MONGODB_URI=""